

img{
    height: 500px;
    width: 1550px;
    width: 100%;
    
}

.movies{
    height: 250px;
    width: 250px;
}

.BuyTickets{
    color:white;
}


.moviesdiv{
    display: flex;
    justify-content: space-between;
}



h2{
    color: black;
    cursor: pointer;
    transition: all 0.5s ease;
}

h2:hover{
    color: darkred;

}

main p {
    font-family: 'Kalam', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

.slider{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#btn{
    background-color: #1a8cff;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    transition: opacity 0.15s;
    vertical-align: top;
    display: block;
    text-align: center;
    margin-bottom: 1px;
   }




 main {
    background: rgb(0,13,83);
    background: radial-gradient(circle, rgba(0,13,83,1) 0%, rgba(141,143,142,1) 100%);
}

main{
    margin: 0;
}

body{
    margin: 0;
}

#carouselExample{
    margin: 0;
}